<h1>Nova atração</h1>

<%= simple_form_for(@attraction, url: {:action => "create", :controller=>"register_attractions"}, :method=> "POST") do |f|%>
	<%= f.input :name , label: "Nome:"%>
	<%= f.input :address , label: "Endereço:"%>
	<%= f.input :duration_time , label: "Duração da Atração:"%>
	<%= f.input :max_people, label: "Máximo de Pessoas:" %>
	<%= f.input :image, label: "Image:" %>
	<%= f.input :price, label: "Preço:" %>

	<%= f.button :submit, "Enviar" %>
<% end -%>
